.Button {
     background-color: transparent;
     border: 1px solid transparent;
     color: white;
     outline: none;
     cursor: pointer;
     font: inherit;
     padding: 10px;
     margin: 10px;
     border-radius: 5px;
     font-weight: bold;
}
.Danger {
     background-color: rgba(2, 129, 40, 0.767);
}
.Success {
     background-color: rgb(4, 87, 83);
}
