.search-bar {
     width: 90%;
     height: 30px;
     padding: 5px;
     margin: 20px auto;
     direction: rtl;
     background: transparent;
     margin-top: 70px;
     border-bottom: 2px solid rgba(2, 129, 40, 0.767) !important;
}
